spring:
  application:
    name: car-dealership
  datasource:
    url: jdbc:postgresql://localhost:5432/car_dealership
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080